@media (max-width: 820px)
{
    #popular-btn{
        width: 140px !important;
    }

    
}

@media (max-width: 415px)
{
    #popular-btn{
        width: 220px !important;
    }
    #banner-heading{
        font-size: 45px !important;
        
      }
      #nav-bar-left-margin{
          margin-left: 5px !important;
      }
}

@media(max-width: 540px)
{
    #nav-bar-left-margin{
        margin-left: 5px !important;
    }
}

@media (max-width: 912px)
{
    #popular-btn{
        width: 190px !important;
    }
}